:root {
  --color-primary: #007bff;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-light: #f8f9fa; 
  --color-dark: #343a40; 
  
  --border-radius: 10px;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 20px;
  color: var(--color-dark);
  background-color: var(--color-dark);
}

h2, h3, h4 {
  margin: 20px 0;
  color: var(--color-light);
}

.jeu-conteneur {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.infos-jeu {
  flex: 1; /* Permet à ce bloc d'occuper de l'espace disponible */
  padding: 20px; /* Ajoute un peu d'espacement autour du texte */
  max-width: 400px; /* Limite la largeur du bloc d'informations */
}


